.banner__inner {
  position: relative;
  background: url(../img/banner_bg01.png);
  background-repeat: no-repeat;
  background-position: 90% center;
  background-size: 35%;
  padding: 120px 0;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.banner__inner::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(18deg, #009743 75%, #f9dc4a 75%);
  z-index: -1;
}
.banner__inner .title {
  font-size: 42px;
  line-height: 1.3;
  font-weight: 400;
  margin-bottom: 20px;
  color: #fff;
  padding-left: 150px;
}

.banner__inner .title .yellow {
  color: #f9dc4a;
  margin-left: 13px;
}
.banner__inner .desc {
  white-space: pre-wrap;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 300;
  color: #fff;
  padding-left: 150px;
}
.banner__inner .desc a {
  position: relative;
  margin-top: 32px;
  font-weight: 500;
  display: inline-block;
  color: #fff;
  transition: all 0.3s ease;
}
.banner__inner .desc a::after {
  position: absolute;
  content: "";
  width: 0;
  height: 1px;
  background: #fff;
  left: 0;
  bottom: -1px;
  transition: all 0.3s ease;
}
.banner__inner .desc a:hover::after {
  width: 100%;
}

.banner__inner .desc a:hover {
  color: #f9dc4a;
}
.banner__inner .small {
  font-size: 16px;
  text-decoration: underline;
  color: #fff;
  padding-left: 150px;
  margin-bottom: 10px;
}

@media (max-width: 1080px) {
  .banner__inner {
    background-size: 45%;
    background-position: right center;
  }

  .banner__inner .title,
  .banner__inner .desc,
  .banner__inner .small
  {
    padding-left: 60px;
  }

  .banner__inner .desc {
    font-size: 16px;
  }
}

@media (max-width: 930px) {
  .banner__inner {
    background: none;
  }
}

@media (max-width: 867px) {
  .banner__inner .title {
    font-size: 32px;
  }
}