.imgText__inner {
  display: flex;
  justify-content: space-between;
  height: auto;
}
.imgText__inner > .imgText__txt {
  width: 32%;
}

.imgText__inner > .imgText__img__wrap {
  width: 65%;
  display: flex;
  justify-content: space-between;
}

.imgText__txt .small {
  font-size: 16px;
  color: #666;
  text-decoration: underline;
  margin-bottom: 20px;
  display: block;
  text-align: left;
}
.imgText__txt .title {
  font-size: 44px;
  word-break: keep-all;
  line-height: 1.4;
  margin-bottom: 10px;
  white-space: pre-wrap;
}
.imgText__txt .desc {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
  color: #666;
  margin-bottom: 22px;
}
.imgText__txt .list {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.6;
}
.imgText__txt .list li {
  position: relative;
  padding-left: 20px;
}

.imgText__txt .list li::before {
  content: "\2022"; 
  color: #009743;
  font-weight: bold;
  display: inline-block;
  width: 1em; 
  margin-left: -1em;
}

.imgText__txt .list li a {
  color: #666;
}

.imgText__img {
  border-radius: 10px;
  position: relative;
  width: 48%;
}

.imgText__img a {
  background-color: #ffcb0a;
  color: #fff;
  padding: 10px 30px;
  font-size: 18px;
  border-radius: 30px;
  display: inline-block;
  position: absolute;
  left: 30px;
  bottom: 30px;
}
.imgText__img a.green {
  background-color: #009743;
}
.imgText__img.img1 {
  background: url(../img/imgText_bg01.jpg) no-repeat center / cover;
}
.imgText__img.img2 {
  background: url(../img/imgText_bg02.jpg) no-repeat bottom / cover;
  background-color: #fff;
}


@media (max-width: 867px) {
  .imgText__inner {
    flex-direction: column;
  }

  .imgText__inner > .imgText__txt {
    width: 99%;
    height: 400px;
    text-align: center;
  }

  .imgText__inner > .imgText__img__wrap {
    width: 99%;
    display: flex;
    justify-content: space-between;
  }

  .imgText__txt .title {
    font-size: 32px;
  }

  .imgText__txt .desc {
    font-size: 16px;
  }


  .imgText__img__wrap{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .imgText__img {
    width: 49%;
    height: 350px;
  }

  .imgText__img a {
    padding: 10px 20px;
    font-size: 16px;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
  }
}

@media (max-width: 767px) {
  .imgText__inner > div {
    width: 100%;
    text-align: center;
  }

  .imgText__img a {
    padding: 10px 10px;
    font-size: 14px;
    word-break: keep-all;
  }
}